html{
  height: 100%;
  margin: 0;
}
body {
  background-image: url('./music-wallpaper.jpg');
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  background-color: rgba(0, 0, 0, 0.685) !important;
}

.comment {
  background-color: rgba(0, 34, 78, 0.685) !important;
  border: 1px solid white !important;
}